:root {
    --background: #050403;
    --surface: #0c0a06;
    --surface-hover: #16120b;

    --text: #e9ddc2;
    --heading: #ffb000;
    --accent: #ffb000;

    --border: #2a2110;
    --muted: #8f7d57;
    
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    
    --radius-sm: 0px;
    --radius-md: 0px;
    --radius-lg: 0px;
}