.App{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.contentWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}